<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangx.springcloud.dao.DeptDao">
    <select id="findById" resultType="com.wangx.entity.Dept" parameterType="java.lang.Long">
        select deptno,dname,db_source from dept where deptno = #{deptno};
    </select>

    <select id="findAll" resultType="com.wangx.entity.Dept" parameterType="com.wangx.entity.Dept">
        select deptno,dname,db_source from dept
    </select>

    <insert id="addDept" parameterType="com.wangx.entity.Dept">
        insert into dept(dname,db_source) value (#{dname},database())
    </insert>
</mapper>